{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Deleted Note{% endblock %}

{% block body %}
    {{ parent() }}

    {# {{ dump(noteDeleted) }} #}

    <h1 class="ml-3 text-info">Successfully</h1>
    <div class="col-8">
        <div class="h-20 text-danger">
            <p>You have removed the note with title: {{noteDeleted.title}}</p>
        </div>
        
    </div>


{% endblock %}
