{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row">
        <h1>Hello to my Notes App</h1>
    </div>
{% endblock %}
